html {
  height: 100%;
  width: 100%;
}

/* OLD #title {*/
/*  font-family: 'Montserrat', sans-serif;*/
/*  font-size: 200%;*/
  /*background-image: url("bitxbit.png");*/
/*  margin: 20px 120px 40px 20px;*/
/*  color: white;*/
/*  line-height: 1.1;*/
/*}*/

body {
  background-color: #FAE8CE;
  margin: 0;
 /* newly added*/
  padding-bottom: 6rem;
  min-height: 100%;
  /**/
  color: black;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  position: relative;
}

#trial {
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.footer {
  /*width: 100%;
  height: 100px;
  background-color: black;
  clear: both;*/
  background-color: black;
  font-size: 1.2rem;
  padding: 20px 30px 20px 30px;
  text-align: center;
  letter-spacing: 50px;
  /*text-transform: lowercase;*/
  right:0;
  bottom: 0;
  left: 0;
  /*position: fixed;*/
}

#motto {
  color:white;
  /*font-size: 70%;*/
  /*margin: 67px 10px 0px -200px;*/
  /*OLD margin: 53px 10px 10px -286px;*/
  text-align: right;
}

a {
  text-decoration: none;
  color: white;
}

.titlepage {
  background: black;
  display: flex;
  position:relative; 
  height: 100px;
  z-index: 11; 
}

.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.shortcut {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

#index {
  font-family: 'Montserrat', sans-serif;
  line-height: 3.6;
  margin: 20px 10px 40px 60px;
}

.resource {
  font-family: 'Montserrat', sans-serif;
  line-height: 3.6;
  margin: 20px 10px 40px 20px;
}
/*
#inspirations {
  font-family: 'Montserrat', sans-serif;
  line-height: 3.6;
  margin: 20px 10px 40px 20px;
}

#outreach {
  font-family: 'Montserrat', sans-serif;
  line-height: 3.6;
  margin: 10px 10px 40px 20px;
}

#program {
  font-family: 'Montserrat', sans-serif;
  line-height: 3.6;
  margin: 20px 10px 40px 20px;
}
*/


.column {
  overflow: auto;
  display: inline-block;
}

.info {
  margin: 0;
  padding: 0;
}

#media {
  color: white;
  margin: 10px 10px;
  text-align: center;
  font-size: 18;
  letter-spacing: 2px;
}

#slides {
  font-family: 'Bitter', serif;
  text-align: center;
}

.myslides {
  display: none;
}

#map {
        height: 400px;
        width: 100%;
}

iframe {
    border: 2px;
    width: 400px;
    height: 450px;
}